.page-player{
  @include media(-webkit-box-shadow,(10px 10px 24px 0 rgb(255 0 85 / 50%), 10px 10px 24px 0 rgb(255 0 85 / 50%), unset));
  @include media(-moz-box-shadow,(10px 10px 24px 0 rgb(255 0 85 / 50%), 10px 10px 24px 0 rgb(255 0 85 / 50%), unset));
  @include media(box-shadow,(10px 10px 24px 0 rgb(255 0 85 / 50%), 10px 10px 24px 0 rgb(255 0 85 / 50%), unset));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  @include media(bottom,(unset, unset, calc(27% - ($player-circle-diameter-default / 2))));
  @include media(right,(calc(-#{$player-circle-diameter-default} / 2), calc(-#{$player-circle-diameter-default} / 2), calc(50% - ($player-circle-diameter-default / 2))));
  background-color: rgba(255, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: $player-circle-diameter-default;
  height: $player-circle-diameter-default;
  border-radius: 100%;
  cursor: pointer;
  $cubic-bezier:cubic-bezier(.55,.055,.675,.19);
  $cubic-bezier-active:cubic-bezier(.215,.61,.355,1);
  $duration-increase:6s;
  $duration-decrease:.75s;
  $duration-increase-active:1s;
  &.hideUI{
    cursor: none;
  }
  //wrapper
  &__wrapper{
    transition-property: width, height, left;
    transition-duration:$duration-decrease;
    transition-timing-function:$cubic-bezier;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: $player-circle-diameter-default;
    height: $player-circle-diameter-default;
    border-radius: 100%;
    left: 0;
  }
  &.hover &__wrapper, &.active &__wrapper{
    height: #{$player-circle-diameter-on-open}vw;
    width: #{$player-circle-diameter-on-open}vw;
    left: calc((-#{$player-circle-diameter-on-open}vw + 100%) / 2);
    @media (orientation:portrait) {
      height: #{$player-circle-diameter-on-open}vh;
      width: #{$player-circle-diameter-on-open}vh;
      left: calc((-#{$player-circle-diameter-on-open}vh + 100%) / 2);
    }
  }
  &.hover:not(.active) &__wrapper{
    transition-duration: $duration-increase;
  }
  &.active &__wrapper{
    transition-duration: $duration-increase-active;
    transition-timing-function: $cubic-bezier-active;
  }
  //$page-player-wrapper-width: calc($player-circle-diameter-on-open / 2 + (50vw - ($preview-circle-diameter / 2)));
  // inner
  &__inner{
    opacity: 0;
    background-color: #424242;
    transition: opacity $duration-decrease linear;
    position: absolute;
    @include media(left,(calc(50% - 50vw - #{$preview-circle-diameter} / 2),calc(50% - 50vw - #{$preview-circle-diameter-tablet} / 2)));
    top: calc(-50vh + 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    @media (max-width: nth($screens,3) + "px") and (orientation:portrait){
      width: 100vh;
      height: 100vw;
      left: calc(50% + 50vw);
      top: calc(50% - 75vh);
      transform: rotateZ(90deg);
      transform-origin: left top;
    }
  }
  &.hover &__inner, &.active &__inner{
    opacity: 1;
  }
  &.hover &__inner{
    transition-duration: 0s;
  }
  &.active &__inner{
    pointer-events: all;
    transition-duration: 0s;
  }
  &__close{
    position: absolute;
    padding: 10px 15px;
    left: -58px;
    border-radius: 0 0 100% 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateZ(270deg);
    font-size: 0;
    background:url("/assets/icons/close.svg") white no-repeat;
    background-position: 50% 80%;
    width: 100px;
    height: 100px;
    //&:before{
    //  content:"";
    //  width: 15px;
    //  height: 15px;
    //
    //
    //}
  }
  // arrow
  $play-stop-side:33px;
  &__play-stop{
    width: $play-stop-side;
    height: $play-stop-side;
    position: absolute;
    left: calc((100% - $play-stop-side) / 2);
    top: calc(50% - $play-stop-side / 2);
    z-index: 10;
    transition: left .75s ease,top .75s ease, opacity .3s ease,transform .3s ease;
    display: flex;
    align-content: center;
    pointer-events: none;
    opacity: 1;
  }
  &.active &__play-stop{
    @media (max-width: nth($screens, 3) + "px") and (orientation:portrait){
      transform: rotateZ(90deg);
    }
  }
  &.active:not(.on-transition) &__play-stop{
    @include media(left,(calc(50% - 50vw - #{$preview-circle-diameter} / 2 + 50vw - #{$play-stop-side} / 2), calc(50% - 50vw - #{$preview-circle-diameter-tablet} / 2 + 50vw - #{$play-stop-side} / 2)));
    @media (max-width: nth($screens,3) + "px") and (orientation:portrait){
      left: calc((100% - $play-stop-side) / 2);
      top: calc(50% - 25vh - $play-stop-side / 2);
      opacity: 1;
    }
  }
  &.hideUI.active &__play-stop{
    opacity: 0;
  }
  &__play,&__stop{
    transition: opacity .5s ease;
    width: $play-stop-side;
    height: $play-stop-side;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    &.active{
      opacity: 1;
      pointer-events: all;
    }
  }
  &:not(.active) &__play{
    pointer-events: none;
  }
  &__play{
    padding-left: 5px;
  }
  &__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  $player-UI-diameter-active:min(60vw,60vh);
  $player-UI-diameter:200px;
  &__UI{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease, width .3s ease, height .3s ease;
    width: $player-UI-diameter;
    height: $player-UI-diameter;
    opacity: 1;
    @media (max-width: nth($screens,2) + "px") {
      width: $player-UI-diameter-active;
      height: $player-UI-diameter-active;
    }
  }
  &__UI:hover,&__UI.active{
    width: $player-UI-diameter-active;
    height: $player-UI-diameter-active;
  }
  &.hideUI &__UI{
    opacity: 0;
  }

  &__track{
    width:100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    @media (max-width: nth($screens,2) + "px") {
      opacity: 1;
    }
  }
  &__UI:hover &__track,&__UI.active &__track{
    opacity: 1;
  }
  &__time{
    display: flex;
    position: relative;
    gap: 10px;
    transform-origin: 10px center;
    left: 15px;
    top: -6px;
    &:before{
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: red;
      border-radius: 100%;
    }
  }
  &__circle{
    z-index: 1;
    position: absolute;
    transform: rotateZ(-90deg);
    width:100%;
    height: 100%;
  }
}
[data-action="toggle-audio"]{
  position: relative;
  &:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: white;
    top: 0;
    left: 3px;
    transform: rotateZ(45deg);
    transform-origin: center left;
    transition: width .3s ease, background-color .3s ease;
  }
  &.active:after{
    width: 120%;
  }
}