@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "variables";
@import "fonts";
@import "mixins";
@import "nullstyle";
@import "animations";
@import "scroll";
@import "player";
@import "player";
.logo{
  @include media(height,(44px, 44px, 36px));
  //grid-area: logo;
  //&__image{
    //grid-area: svg;
    //justify-self: center;
    //align-self: center;
  //}
  //&__name{
    //grid-area: name;
    //font-family: "Times New Roman";
    //font-weight: bold;
   // font-size: 22px;
  //}
  //&__full-name{
    //grid-area: fname;
    //font-size: 14px;
    //font-weight: 400;
    //font-family: Arial;
    //@extend .link-hover;
  //}
  //&:hover &__full-name:after{
    //width: 100%;
  //}
}
.header{
  @include media(padding-left,(49px, 29px, 19px));
  @include media(padding-right,(35px, 35px, 19px));
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 76px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  z-index: 2;
  @include media(grid-template-columns,($header-template-columns, $header-template-columns, $header-template-columns-mobile));
  @include media(grid-template-areas,($header-template-areas, $header-template-areas, $header-template-areas-mobile));
  //@include media(background-color,(none,black,white));
  //&__language{
  //  @include media(margin-top,(9px, 9px, 0));
  //  grid-area: lang;
  //  display: none;
  //  flex-direction: row;
  //  gap: 16px;
  //  font-family: Arial;
  //  cursor: pointer;
  //}
  &__telephone{
    @include media(margin-top,(8px, 8px, 0));
    grid-area: tel;
    font-family: Arial;
    cursor: pointer;
    white-space: nowrap;
  }
  &__open-menu{
    @include media(margin-top,(8px, 8px, 0));
    grid-area: menu;
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Arial;
    font-weight: 450;
    cursor: pointer;
    user-select: none;
    span{
      @include media(display,(block, block, none));
      @include media(letter-spacing,(1.2px, 2px));
      @extend .link-hover;
    }
    &:hover span:after{
      width: 100%;
    }
  }
  &__logo {
    @include media(align-self,(end, end, center));
    @include media(height,(44px, 44px, 36px));
    @include media(width,(auto, auto, 36px));
    @include media(overflow,(unset, unset, hidden));
    img {
      height: 100%;
    }
  }
  &.animation &__logo{
    @include media(animation,(start-logo 2.5s ease,start-logo 2.5s ease,start-logo-mobile 2.5s ease));
  }
  // анимация бэкграунда при старте страницы
  &.animation .logo-anim-background{
    animation: start-logo-background 3s ease;

  }
}
.logo-anim-background{
  position: fixed;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: #c4b4b4;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}
.menu__link-icon{
  display: flex;
  align-items: center;
  width: 29px;
  height: 19px;
  position: relative;
}
.link-icon__line{
  width: 29px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  &::before{
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
  }
  &::after{
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
  }
}
.language-switcher{
  letter-spacing: 1.8px;
  font-size: 13px;
  @extend .link-hover;
  &.active{
    color: #e9e6e5;
    user-select: none;
    cursor: auto;
    &:hover:after{
      width: 0;
    }
  }
}
.header__share{
  @include media(display,(block, block, none));
  height: 23px;
  margin-top: 7px;
  grid-area: share;
  position: relative;
  &:hover .share{
    max-height: 202px;
  }
}
.share{
  grid-area: share;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding-top: 32px;
  top: 100%;
  position: absolute;
  width: 23px;
  max-height: 0;
  overflow: hidden;
  //background-color: rgba(43, 43, 44, 0.05);
  transition: max-height .3s ease;
  gap: 17px;

  &-main-svg{
    fill: #f7f7fa;
    cursor: pointer;
  }
  &__svg{
    width: 17px;
    height: 16px;
    fill-rule: evenodd;
    fill: #f7f7fa;
    cursor: pointer;
  }
}
.body{
  @include media(perspective,(1700px));
  font-family: Roboto, Serif;
  background-color: #cbc4c0;
  overflow: hidden;
  &.right-open{
    overflow: hidden;
  }
  &.right-open &-left{
    @include media(transform,(rotateY(40deg) scaleY(.8), none));
    pointer-events: none;
  }
  &-right{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
    > * {
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: all;
      transition: left .3s ease;
    }
  }

  &-left{
    transition: transform .4s ease;
    @include media(will-change,(transform, auto));
    @include media(transform,(translate3d(0,0,0), none));
    @include media(transform-origin,(0 50% 0, none));
    min-height: calc(var(--vh, 1vh) * 100);
    @include media(height,(calc(var(--vh, 1vh) * 100), auto));
    @include media(overflow,(hidden));
  }
}
.menu{
  @include media(backdrop-filter,(none, blur(16px)));
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include media(width,(720px, 420px, 100vw));
  @include media(background-color,(#424141, rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)));
  &.active{
    @include media(left,(calc(100% - 720px), calc(100% - 420px), 0));
  }
  &__header{
    display: flex;
    @include media(height,(80px, 72px, 62px));
    align-items: center;
    gap: 30px;
    @include media(padding,(10px 32px, 10px 32px, 10px 20px));
    border-bottom: 1px solid #565555;
  }
  &__items{
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 1fr 1fr;
    //@include media(grid-template-areas,($menu-template-areas, $menu-template-areas, $menu-template-areas-mobile));
    //@include media(grid-template-rows,($menu-template-rows, $menu-template-rows, $menu-template-rows-mobile));
    grid-template-rows: repeat(4,1fr);
  }
  &__footer {
    @include media(display, (none, none, flex));
    padding: 8px 8px 24px 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 15%;
    span{
      display: flex;
      align-items: center;
      height: 34px;
      font-family: Arial;
      font-size: 12px;
      color: white;
      opacity: .5;
    }
  }
  &__contacts{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 27px;
    opacity: .5;
  }
  .share{
    @include media(display,(none, none, flex));
    position: unset;
    top: unset;
    width: 100%;
    max-height: unset;
    flex-direction: row;
    justify-content: center;
    padding: 0 0;
    height: 44px;
    gap: 42px;
    border-bottom: 1px solid #565555;
    opacity: .5;
  }
}
.menu-title{
  display: flex;
  align-items: center;
  gap: 12px;
  &__image{
    width: 20px;
    height: auto;
  }
  &__text{
    white-space: nowrap;
    @extend .link-hover;
  }
  &:hover &__text:after{
    width: 100%;
  }
}
.menu-close{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
}
.menu-item{
  @include media(display,(unset, unset, flex));
  position: relative;
  border-bottom: 1px solid #565555;
  z-index: 1;
  &:nth-child(odd){
    border-right: 1px solid #565555;
  }
  &__image{
    transition: opacity .3s ease;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &:hover &__image{
    opacity: .7;
  }
  &__icon{
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    width: 47px;
    height: auto;
  }
  &__title{
    @extend .link-hover;
    position: absolute!important;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  &:hover &__title:after{
    width: 100%;
  }
}
// анимация подчёркивания, предположительно юзать онли на ссылках, где уместно
.link-hover{
  position: relative;
  &:after{
    content: "";
    display: block;
    transition: width .3s ease;
    width: 0;
    height: 1px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}


.aside{
  display: flex;
  align-items: center;
  position: fixed;
  @include media(left,(40px, 21px, 5px));
  top: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 40px;
  &__inner{
    position: relative;
    @include media(position,(relative, relative, absolute));
    @include media(top,(0, 0, calc(50% - (40px + 28px) / 2 - 4px)));
    transition: transform .5s ease;
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    @include media(gap,(10px, 10px, unset));
    width: 100%;
    z-index: 1;
  }
}
.aside-item{
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(width,(10px, 10px, 6px));
  @include media(height,(10px, 10px, 6px));
  background: white;
  border-radius: 100%;
  border: 2px white solid;
  user-select: none;
  cursor: pointer;
  transition: width .3s ease, height .3s ease,border .3s ease,background-color .3s ease;
  &__icon{
    width: 0;
    height: 0;
    transition: width .3s ease, height .3s ease;
  }
  &:hover{
    //@include media(background-color,(rgba(0,0,0,0), white, white));
    //@include media(border,(2px white solid));
    //@include media(width,(16px, 10px, 10px));
    //@include media(height,(16px, 10px, 10px));
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    width: 16px;
    height: 16px;
  }
  &.active{
    @include media(width,(40px, 40px, 16px));
    @include media(height,(40px, 40px, 16px));
    border-radius: 100%;
    border: 2px white solid;
    cursor: pointer;
    background: none;
  }
  &.active &__icon{
    @include media(display,(block, block, none));
    height: 25px;
    width: 25px;
  }
}
$duration-page-scroll: .6s;
.main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: transform $duration-page-scroll ease;
  position: absolute;
  left: 0;
  top: 0;
}
.page{
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  url("/assets/images/shadow.png") no-repeat center;
  @include media(background-size,(1145px 786px, 825px 566px));
  &__loader{
    position: absolute;
    @include media(width,($preview-circle-diameter, $preview-circle-diameter-tablet, $preview-circle-diameter-mobile));
    @include media(height,($preview-circle-diameter, $preview-circle-diameter-tablet, $preview-circle-diameter-mobile));
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 313.644;
  }
  &.is-loaded &__loader{
    animation: svg-circle 1.6s cubic-bezier(.67,.26,.58,.79) 0s 1;
    stroke-dasharray: 313.644, 313.644;
  }
  &__preview{
    user-select: none;
    font-family: Arial;
    @include media(position,(relative, relative, unset));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(width,(785px, 566px));
    @include media(height,(785px, 566px));
    border-radius: 100%;
    color: white;
    font-weight: bold;
  }
  &__info{
    @include media(display,(flex, flex, flex));
    align-items: center;
    justify-content: center;
    position: absolute;
    @include media(right,(35px, 30px, 24%));
    @include media(bottom,(unset, unset, calc(27% - ($info-circle-diameter-default / 2))));
    //@include media(width,(36px, 36px));
    //@include media(height,(36px, 36px));
    width: $info-circle-diameter-default;
    height: $info-circle-diameter-default;
    border-radius: 100%;
    background-color: #e8e5e4;
    cursor: pointer;
    transition: background-color .3s ease;
    &:hover{
      background-color: white;
    }
  }
}

.preview{
  &__main{
    width: 70%;
    display: flex;
    @include media(line-height,(50px, 40px, 35px));
    @include media(letter-spacing,(7px, 4.5px));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media(font-size,(50px, 35px, 28px));
    span{
      @include media(margin-top,(20px, 7px));
      letter-spacing: 1.7px;
      @include media(font-size,(22px, 16px, 16px));
      line-height: 27px;
      font-weight: 400;
    }
  }
}
.page-content{
  height: 100%;
  @include media(width,($page-content-width, $page-content-width-tablet, $page-content-width-mobile));
  @include media(background-color,('', rgba(223, 217, 213, .5)));
  backdrop-filter: blur(15px);
  padding: 45px 0 35px;
  &.active{
    @include media(left,(calc(100% - $page-content-width), calc(100% - $page-content-width-tablet), calc(100% - $page-content-width-mobile)));
  }
  &__inner{
    @include media(padding,(0 55px 0, 0 55px 0, 0 33px 0));
    margin-right: 55px;
    overflow: auto;
    height: 100%;
    h1{
      font: 400 40px/54px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: 1px;
      text-transform: none;
    }
    h1 + p{
      margin-top: 27px;
    }
    p{
      margin: 30px 0 29px;
      padding: 0;
      font: 400 16px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
      color: #000;
    }
    h2{
      margin-top: 38px;
      margin-bottom: 18px!important;
      font: 400 28px/56px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: .7px;
    }
  }
  &__close{
    cursor: pointer;
    margin-left: auto;
    margin-right: 18px;
    fill: #000;
    position: absolute;
    top: 30px;
    right: 41px;
    width: 23px;
    height: 23px;
  }
}

.footer{
  @include media(padding,(0 32px 0 55px, 0 30px 0 40px, 0 13% 0 13%));
  @include media(display,(grid, grid, grid));
  @include media(grid-template-rows,(1fr, 1fr, 1fr 1fr));
  @include media(grid-template-columns,($footer-template-columns, $footer-template-columns, $footer-template-columns-mobile));
  @include media(grid-template-areas,($footer-template-areas, $footer-template-areas, $footer-template-areas-mobile));
  left: 0;
  @include media(bottom,(34px, 20px));
  position: absolute;
  width: 100%;
  @include media(height,(25px, 25px, 85px));
  &__title{
    grid-area: title;
    @include media(display,(none, none, flex));
    font-family: Arial;
    font-size: 17px;
    color: white;
    justify-self: center;
  }
  &__info{
    grid-area: info;
    @include media(display,(flex, flex, none));
    flex-direction: row;
    align-items: center;
    gap: 18px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
  }
  &-link{
    @extend .link-hover;
  }
  &__contacts{
    grid-area: contacts;
    @include media(display,(flex, flex, none));
    justify-content: start;
    flex-direction: row;
    gap: 17px;
    align-items: center;
  }
  &__contacts-mobile{
    grid-area: mobile;
    @include media(display,(none, none, flex));
    flex-direction: row;
    gap: 45px;
    justify-self: center;
    align-self: center;
    .icon-link{
      height: 45px;
      width: 45px;
    }
    .contacts__svg{
      fill: white;
      height: 45px;
      width: 45px;
    }
  }
  &__interaction{
    grid-area: interaction;
    @include media(display,(flex, flex, none));
    flex-direction: row;
    align-items: center;
    gap: 29px;
  }
}
.interaction__svg{
  height: 25px;
  fill: #f7f6f6;
  cursor: pointer;
  transition: fill .3s ease;
  svg{
    height: 100%;
  }
  &:nth-child(2){
    @include media(height,(25px, 25px, 20px));
  }
  &:nth-child(1){
    @include media(display,(block, none, none));
  }
  &:hover{
    fill: #e2dfdd;
    &:after{
      background: #e2dfdd;
    }
  }
}
.icon-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  cursor: pointer;
}
.contacts{
  &__svg{
    width: 17px;
    height: 16px;
    fill: #e4e0df;
    fill-rule: evenodd;
    cursor: pointer;
    transition: fill .3s ease;
    &:hover{
      fill: white;
    }
  }
}
.contacts-more{
  display: flex;
  cursor: pointer;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 12px;
  color: #e4e0df;
  &__text{
    position: relative;
    color: white;
    opacity: .6;
    transition: all .3s ease;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: 6px;
      border-bottom: 1px dotted #fff;
    }
  }
  &:hover &__text{
    opacity: 0;
  }
  &__inner{
    max-width: 0;
    overflow: hidden;
    display: flex;
    gap: 17px;
    transition: all .3s ease;
  }
  &:hover &__inner{
    max-width: 100px;
  }
}
.footer__title,.footer__contacts-mobile,.footer__info,.footer__contacts,.aside{
  z-index: 1;
}
.body.video-opened{
  .header,.footer__title,.footer__contacts-mobile,.footer__info,.footer__contacts,.aside{
    z-index: -1;
  }
}