//page-content
$page-content-width:720px;
$page-content-width-tablet:100%;
$page-content-width-mobile:100%;
//page-preview
$preview-circle-diameter: 785px;
$preview-circle-diameter-tablet: 566px;
$preview-circle-diameter-mobile: 0;
//player
$player-circle-diameter-on-open: 200;//vh or vw
$player-circle-diameter-default: 110px;
//info
$info-circle-diameter-default: 36px;

//header-grid
$header-template-columns:   auto  1fr auto  46px 23px  91px auto 35px;
$header-template-areas:  "\"logo  ... lang  .... share .... menu ....\"";
$header-template-columns-mobile:   auto  1fr auto  1fr  auto 19px;
$header-template-areas-mobile:  "\"logo  ... lang  .... menu ....\"";

    //footer-grid
    $footer-template-columns:   290px 69px 500px    1fr auto          ;
    $footer-template-areas:  "\"info  .... contacts ... interaction\"";
    $footer-template-columns-mobile:   auto 1fr auto          ;
    $footer-template-areas-mobile:  "\"info ... interaction\"";

//menu-grid
$menu-template-rows: repeat(4,1fr);
$menu-template-areas: none;