.page-player{
  border: 1px solid #ed1c25;
  -webkit-box-shadow: 10px 10px 24px 0 rgb(255 0 85 / 50%);
  -moz-box-shadow: 10px 10px 24px 0 rgb(255 0 85 / 50%);
  box-shadow: 10px 10px 24px 0 rgb(255 0 85 / 50%);
  @include media(display,(flex, flex, none));
  justify-content: center;
  align-items: center;
  position: absolute;
  right: calc(-#{$player-circle-diameter-default} / 2);
  background-color: rgba(255, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: $player-circle-diameter-default;
  height: $player-circle-diameter-default;
  border-radius: 100%;
  cursor: pointer;
  $cubic-bezier:cubic-bezier(.55,.055,.675,.19);
  $cubic-bezier-active:cubic-bezier(.215,.61,.355,1);
  $duration-increase:6s;
  $duration-decrease:.75s;
  $duration-increase-active:1s;
  //wrapper
  &__wrapper{
    transition-property: width, height, left;
    transition-duration:$duration-decrease;
    transition-timing-function:$cubic-bezier;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: $player-circle-diameter-default;
    height: $player-circle-diameter-default;
    border-radius: 100%;
    left: 0;
  }
  &.hover &__wrapper, &.active &__wrapper{
    width: $player-circle-diameter-on-open;
    height: $player-circle-diameter-on-open;
    left: calc((-#{$player-circle-diameter-on-open} + 100%) / 2);
  }
  &.hover:not(.active) &__wrapper{
    transition-duration: $duration-increase;
  }
  &.active &__wrapper{
    transition-duration: $duration-increase-active;
    transition-timing-function:$cubic-bezier-active;
  }
  $page-player-wrapper-width: calc($player-circle-diameter-on-open / 2 + (50vw - ($preview-circle-diameter / 2)));
  // inner
  &__inner{
    opacity: 0;
    background-color: #424242;
    transition: opacity $duration-decrease linear;
    position: absolute;
    left: calc(-#{$player-circle-diameter-on-open} / 2 + 50%);
    top: calc(-50vh + 50%);
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(width,(
            $page-player-wrapper-width,
            calc($player-circle-diameter-on-open / 2 + (50vw - ($preview-circle-diameter-tablet / 2)))
    ));
    height: 100vh;
    z-index: 9;
  }
  &.hover &__inner, &.active &__inner{
    opacity: 1;
  }
  &.hover &__inner{
    transition-duration: 0s;
  }
  &.active &__inner{
    pointer-events: all;
    transition-duration: 0s;
  }
  // arrow
  $play-stop-side:33px;
  &__play-stop{
    width: $play-stop-side;
    height: $play-stop-side;
    position: absolute;
    left: calc((100% - $play-stop-side) / 2);
    z-index: 10;
    transition: left .75s ease;
    display: flex;
    align-content: center;
    pointer-events: none;
  }
  &.active:not(.on-transition) &__play-stop{
    left: calc(($page-player-wrapper-width - $play-stop-side) / 2);
  }
  &__play,&__stop{
    transition: opacity .5s ease;
    width: $play-stop-side;
    height: $play-stop-side;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    &.active{
      opacity: 1;
      pointer-events: all;
    }
  }
  &:not(.active) &__play{
    pointer-events: none;
  }
  &__play{
    padding-left: 5px;
  }
  &__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__track{
    position: absolute;
  }
  &__circle{
    position: absolute;
    pointer-events: none;
  }
}