@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "variables";
@import "fonts";
@import "mixins";
@import "nullstyle";
@import "animations";
.body{
  background: #ccc4c0;
  overflow: hidden;
  font-family: Roboto, Serif;
}
.logo{
  grid-area: logo;
  height: 50px;
  &__image{
    grid-area: svg;
    justify-self: center;
    align-self: center;
  }
  &__name{
    grid-area: name;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 22px;
  }
  &__full-name{
    grid-area: fname;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial;
    @extend .link-hover;
  }
  &:hover &__full-name:after{
    width: 100%;
  }
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 88px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 49px auto  1fr auto 30px auto 35px;
  grid-template-areas:  ".... logo  ... tel  .... menu ...."
                        ".... logo  ... tel  .... menu ....";
  z-index: 10;
  &__tel{
    grid-area: tel;
    font-size: 15px;
    font-family: Arial;
    @extend .link-hover;
  }
  &__open-menu{
    grid-area: menu;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial;
    font-weight: 450;
    cursor: pointer;
    user-select: none;
    span{
      letter-spacing: 1.2px;
      @extend .link-hover;
    }
  }
  &__logo {
    width: auto;
    height: 44px;
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}
$right-width:720px;
.body{
  perspective: 1700px;
  &.right-open &-right{
    left: calc(100% - #{$right-width});
  }
  &.right-open &-left{
    transform: rotateY(40deg) scaleY(.8);
    pointer-events: none;
  }
  &-right{
    position: fixed;
    left: 100%;
    top: 0;
    transition: left .3s ease;
    width: $right-width;
    height: 100vh;
    > * {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      &.active{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &-left{
    position: relative;
    transform: translate3d(0,0,0);
    transform-origin: 0 50% 0;
    transition: transform .4s ease;
    will-change: transform;
    min-height: 100vh;
  }
}
.menu{
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #424141;

  &__header{
    display: flex;
    height: 80px;
    align-items: center;
    gap: 30px;
    padding: 10px 32px;
    border-bottom: 1px solid #565555;
  }
  &__items{
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
  }
}
.menu-title{
  display: flex;
  align-items: center;
  gap: 12px;
  &__image{
    width: 20px;
    height: auto;
  }
  &__text{
    white-space: nowrap;
    @extend .link-hover;
  }
  &:hover &__text:after{
    width: 100%;
  }
}
.menu-close{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 18px;
}
.menu-item{
  position: relative;
  border-bottom: 1px solid #565555;
  z-index: 1;
  &:nth-child(odd){
    border-right: 1px solid #565555;
  }
  &__image{
    transition: opacity .3s ease;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &:hover &__image{
    opacity: .7;
  }
  &__icon{
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    width: 47px;
    height: auto;
  }
  &__title{
    @extend .link-hover;
    position: absolute!important;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  &:hover &__title:after{
    width: 100%;
  }
}
// анимация подчёркивания, предположительно юзать онли на ссылках, где уместно
.link-hover{
  position: relative;
  &:after{
    content: "";
    display: block;
    transition: width .3s ease;
    width: 0;
    height: 1px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}
// анимация бэкграунда при старте страницы
.logo-anim-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c4b4b4;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
}

.aside{
  display: flex;
  align-items: center;
  position: fixed;
  left: 30px;
  top: 0;
  height: 100vh;
  width: 40px;
  z-index: 4;
  &__inner{
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    gap: 25px;
    height: 300px;
    width: 100%;
  }
}
.aside-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  border: 2px white solid;
  user-select: none;
  cursor: pointer;
  transition: width .3s ease, height .3s ease,border .3s ease,background-color .3s ease;
  &__icon{
    width: 0;
    height: 0;
    transition: width .3s ease, height .3s ease;
  }
  &:hover{
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    width: 15px;
    height: 15px;
  }
  &.active{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px white solid;
    cursor: pointer;
    background: none;
  }
  &.active &__icon{
    height: 25px;
    width: 25px;
  }
}
$duration-page-scroll: .6s;
.main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 000vh;
  left: 0;
  transition: top $duration-page-scroll ease;
}
.page{
  width: 100vw;
  height: 100vh;
  background: #cbc4c0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__loader{
    position: absolute;
    width: $preview-circle-diameter;
    height: $preview-circle-diameter;
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 313.644;
  }
  &.is-loaded &__loader{
    stroke-dasharray: 313.644, 313.644;
    animation: svg-circle .6s linear $duration-page-scroll 1;
  }
  &__preview{
    -webkit-box-shadow: 0 0 60px 30px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0 0 60px 30px rgba(34, 60, 80, 0.1);
    box-shadow: 0 0 60px 30px rgba(34, 60, 80, 0.1);
    user-select: none;
    font-family: Arial;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 785px;
    height: 785px;
    border-radius: 100%;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
}
.page-player{
  position: absolute;
  right: calc(-#{$player-circle-diameter-default} / 2);
  background-color: rgba(255, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: $player-circle-diameter-default;
  height: $player-circle-diameter-default;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  $cubic-bezier:cubic-bezier(0.5, 0, 0.04, 1);
  $duration-increase:3s;
  &__wrapper{
    position: absolute;
    transition: background-color .3s ease,width $duration-increase $cubic-bezier,height $duration-increase $cubic-bezier,left $duration-increase $cubic-bezier;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: $player-circle-diameter-default;
    height: $player-circle-diameter-default;
    border-radius: 100%;
    left: 0;
  }
  &:hover &__wrapper,&.active &__wrapper{
    width: $player-circle-diameter-on-open;
    height: $player-circle-diameter-on-open;
    left: calc((-#{$player-circle-diameter-on-open} + #{$player-circle-diameter-default}) / 2);
  }
  &:hover &__wrapper &__inner,&.active &__wrapper &__inner{
    opacity: 1;
    transition: opacity .3s ease;
  }
  &__arrow{
    padding-left: 5px;
    width: 33px;
    height: 33px;
    position: absolute;
    left: calc((100% - 33px) / 2);
    z-index: 10;
  }
  &__inner{
    opacity: 0;
    background-color: #424242;
    transition: opacity 3s ease;

    position: absolute;
    left: calc(-#{$player-circle-diameter-on-open} / 2 + 50%);
    top: calc(-50vh + 50%);
    width: calc($player-circle-diameter-on-open / 2 + (50vw - ($preview-circle-diameter / 2) + ($player-circle-diameter-default / 2)));
    height: 100vh;
    z-index: 9;
  }
}
.preview{
  &__main{
    display: flex;
    line-height: 50px;
    letter-spacing: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
      margin-top: 20px;
      letter-spacing: normal;
      font-size: 22px;
      line-height: 27px;
      font-weight: 400;
    }
  }
}
.page-content{
  height: 100%;
  position: relative;
  padding: 45px 0 35px;
  &__inner{
    padding: 0 55px 0;
    margin-right: 55px;
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
      box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
    h1{
      font: 400 40px/54px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: 1px;
      text-transform: none;
    }
    h1 + p{
      margin-top: 27px;
    }
    p{
      margin: 30px 0 29px;
      padding: 0;
      font: 400 16px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
      color: #000;
    }
    h2{
      margin-top: 38px;
      margin-bottom: 18px!important;
      font: 400 28px/56px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: .7px;
    }
  }
  &__close{
    cursor: pointer;
    margin-left: auto;
    margin-right: 18px;
    fill: #000;
    position: absolute;
    top: 30px;
    right: 41px;
    width: 23px;
    height: 23px;
  }
}
.footer{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 55px 305px 52px 500px    1fr 87px        32px;
  grid-template-areas:  ".... info  .... contacts ... interaction ....";
  left: 0;
  bottom: 35px;
  position: fixed;
  width: 100%;
  height: 24px;
  z-index: 5;
  &__info{
    grid-area: info;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
  }
  &-link{
    @extend .link-hover;
  }
  .icon-link{
    height: 16px;
    cursor: pointer;
  }
  &__contacts{
    display: flex;
    justify-content: start;
    flex-direction: row;
    grid-area: contacts;
    gap: 16px;
    align-items: center;
  }
  &__interaction{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: interaction;
    gap: 29px;
  }
}
.interaction__svg{
  height: 24px;
  fill: #f7f6f6;
  cursor: pointer;
  transition: fill .3s ease;
  &:hover{
    fill: #e2dfdd;
  }
}
.contacts{
  &__svg{
    width: 17px;
    height: 16px;
    fill: #e4e0df;
    cursor: pointer;
    transition: fill .3s ease;
    &:hover{
      fill: white;
    }
  }
}
.contacts-more{
  display: flex;
  cursor: pointer;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 12px;
  color: #e4e0df;
  &__text{
    transition: all .3s ease;
    opacity: 1;
    border-bottom: 1px #e4e0df dotted;
  }
  &:hover &__text{
    opacity: 0;
  }
  &__inner{
    max-width: 0;
    overflow: hidden;
    display: flex;
    gap: 16px;
    transition: all .3s ease;
  }
  &:hover &__inner{
    max-width: 100px;
  }
}
