@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "variables";
@import "fonts";
@import "mixins";
@import "nullstyle";
@import "animations";
@import "scroll";
@import "player";
.body{
  overflow: hidden;
  font-family: Roboto, Serif;
  background-color: #cbc4c0 ;
}
.logo{
  grid-area: logo;
  height: 50px;
  &__image{
    grid-area: svg;
    justify-self: center;
    align-self: center;
  }
  &__name{
    grid-area: name;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 22px;
  }
  &__full-name{
    grid-area: fname;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial;
    @extend .link-hover;
  }
  &:hover &__full-name:after{
    width: 100%;
  }
}
.header{
  @include media(padding-left,(49px, 29px, 19px));
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 76px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  @include media(grid-template-columns,($grid-template-columns, $grid-template-columns, $grid-template-columns-mobile));
  @include media(grid-template-areas,($grid-template-areas, $grid-template-areas, $grid-template-areas-mobile));
  z-index: 10;
  //@include media(background-color,(none,black,white));
  &__language{
    @include media(margin-top,(9px, 9px, 0));
    grid-area: lang;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: Arial;
    cursor: pointer;
  }
  &__open-menu{
    @include media(margin-top,(9px, 9px, 0));
    grid-area: menu;
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Arial;
    font-weight: 450;
    cursor: pointer;
    user-select: none;
    span{
      @include media(display,(block, block, none));
      @include media(letter-spacing,(1.2px, 2px));
      @extend .link-hover;
    }
    &:hover span:after{
      width: 100%;
    }
  }
  &__logo {
    @include media(align-self,(end, end, center));
    width: auto;
    height: 44px;
    img {
      height: 100%;
      @include media(width,(auto, auto, 232px));
      @include media(object-fit,(contain, contain, cover));
      @include media(object-position,(unset, unset, left));
    }
  }
}
.menu__link-icon{
  display: flex;
  align-items: center;
  width: 29px;
  height: 19px;
  position: relative;
}
.link-icon__line{
  width: 29px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  &::before{
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
  }
  &::after{
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
  }
}
.language-switcher{
  letter-spacing: 1.8px;
  font-size: 13px;
  @extend .link-hover;
  &.active{
    color: #e9e6e5;
    user-select: none;
    cursor: auto;
    &:hover:after{
      width: 0;
    }
  }
}
.header__share{
  @include media(display,(block, block, none));
  height: 23px;
  margin-top: 9px;
  grid-area: share;
  position: relative;
  &:hover .share{
    max-height: 202px;
  }
}
.share{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding-top: 32px;
  top: 100%;
  position: absolute;
  width: 23px;
  max-height: 0;
  overflow: hidden;
  //background-color: rgba(43, 43, 44, 0.05);
  transition: max-height .3s ease;
  gap: 17px;

  &-main-svg{
    fill: #f7f7fa;
    cursor: pointer;
  }
  &__svg{
    width: 17px;
    height: 16px;
    fill-rule: evenodd;
    fill: #f7f7fa;
    cursor: pointer;
  }
}
$right-width:720px;
.body{
  perspective: 1700px;
  &.right-open &-right{
    left: calc(100% - #{$right-width});
  }
  &.right-open &-left{
    transform: rotateY(40deg) scaleY(.8);
    pointer-events: none;
  }
  &-right{
    position: fixed;
    left: 100%;
    top: 0;
    transition: left .3s ease;
    width: $right-width;
    height: 100vh;
    > * {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      &.active{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &-left{
    position: relative;
    transform: translate3d(0,0,0);
    transform-origin: 0 50% 0;
    transition: transform .4s ease;
    will-change: transform;
    min-height: 100vh;
  }
}
.menu{
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #424141;
  &__header{
    display: flex;
    height: 80px;
    align-items: center;
    gap: 30px;
    padding: 10px 32px;
    border-bottom: 1px solid #565555;
  }
  &__items{
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
  }
}
.menu-title{
  display: flex;
  align-items: center;
  gap: 12px;
  &__image{
    width: 20px;
    height: auto;
  }
  &__text{
    white-space: nowrap;
    @extend .link-hover;
  }
  &:hover &__text:after{
    width: 100%;
  }
}
.menu-close{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 18px;
}
.menu-item{
  position: relative;
  border-bottom: 1px solid #565555;
  z-index: 1;
  &:nth-child(odd){
    border-right: 1px solid #565555;
  }
  &__image{
    transition: opacity .3s ease;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &:hover &__image{
    opacity: .7;
  }
  &__icon{
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    width: 47px;
    height: auto;
  }
  &__title{
    @extend .link-hover;
    position: absolute!important;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  &:hover &__title:after{
    width: 100%;
  }
}
// анимация подчёркивания, предположительно юзать онли на ссылках, где уместно
.link-hover{
  position: relative;
  &:after{
    content: "";
    display: block;
    transition: width .3s ease;
    width: 0;
    height: 1px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}
// анимация бэкграунда при старте страницы
.logo-anim-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c4b4b4;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
}

.aside{
  @include media(display,(flex, flex, none));
  display: flex;
  align-items: center;
  position: fixed;
  @include media(left,(40px, 21px));
  top: 0;
  height: 100vh;
  width: 40px;
  z-index: 4;
  &__inner{
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 100%;
  }
}
.aside-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  border: 2px white solid;
  user-select: none;
  cursor: pointer;
  transition: width .3s ease, height .3s ease,border .3s ease,background-color .3s ease;
  &__icon{
    width: 0;
    height: 0;
    transition: width .3s ease, height .3s ease;
  }
  &:hover{
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    width: 15px;
    height: 15px;
  }
  &.active{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px white solid;
    cursor: pointer;
    background: none;
  }
  &.active &__icon{
    height: 25px;
    width: 25px;
  }
}
$duration-page-scroll: .6s;
.main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 000vh;
  left: 0;
  transition: top $duration-page-scroll ease;
}
.page{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cbc4c0 url("/assets/images/shadow.png") no-repeat center;
  @include media(background-size,(1145px 786px, 825px 566px));
  &__loader{
    position: absolute;
    @include media(width,($preview-circle-diameter, $preview-circle-diameter-tablet, $preview-circle-diameter-mobile));
    @include media(height,($preview-circle-diameter, $preview-circle-diameter-tablet, $preview-circle-diameter-mobile));
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 313.644;
  }
  &.is-loaded &__loader{
    animation: svg-circle 1.6s cubic-bezier(.67,.26,.58,.79) 0s 1;
    stroke-dasharray: 313.644, 313.644;
  }
  &__preview{
    user-select: none;
    font-family: Arial;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(width,(785px, 566px));
    @include media(height,(785px, 566px));
    border-radius: 100%;
    color: white;
    font-weight: bold;
  }
  &__info{
    @include media(display,(flex, flex, none));
    align-items: center;
    justify-content: center;
    position: absolute;
    @include media(right,(35px, 30px));
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #e8e5e4;
    cursor: pointer;
    transition: background-color .3s ease;
    &:hover{
      background-color: white;
    }
  }
}

.preview{
  &__main{
    display: flex;
    line-height: 50px;
    @include media(letter-spacing,(7px, 4.5px));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(font-size,(50px, 36px));
    span{
      @include media(margin-top,(20px, 7px));
      letter-spacing: 1.7px;
      @include media(font-size,(22px, 19px));
      line-height: 27px;
      font-weight: 400;
    }
  }
}
.page-content{
  height: 100%;
  padding: 45px 0 35px;
  position: relative;
  &__inner{
    padding: 0 55px 0;
    margin-right: 55px;
    overflow: auto;
    height: 100%;
    h1{
      font: 400 40px/54px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: 1px;
      text-transform: none;
    }
    h1 + p{
      margin-top: 27px;
    }
    p{
      margin: 30px 0 29px;
      padding: 0;
      font: 400 16px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
      color: #000;
    }
    h2{
      margin-top: 38px;
      margin-bottom: 18px!important;
      font: 400 28px/56px Arial,"Helvetica Neue",Helvetica,sans-serif;
      letter-spacing: .7px;
    }
  }
  &__close{
    cursor: pointer;
    margin-left: auto;
    margin-right: 18px;
    fill: #000;
    position: absolute;
    top: 30px;
    right: 41px;
    width: 23px;
    height: 23px;
  }
}

.footer{
  @include media(padding,(0 32px 0 55px, 0 30px 0 40px));
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 290px 69px 500px    1fr auto        ;
  grid-template-areas:  "info  .... contacts ... interaction";
  left: 0;
  @include media(bottom,(34px, 20px));
  position: fixed;
  width: 100%;
  height: 25px;
  z-index: 5;
  &__info{
    grid-area: info;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
  }
  &-link{
    @extend .link-hover;
  }
  &__contacts{
    display: flex;
    justify-content: start;
    flex-direction: row;
    grid-area: contacts;
    gap: 17px;
    align-items: center;
  }
  &__interaction{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: interaction;
    gap: 29px;
  }
}
.interaction__svg{
  height: 25px;
  fill: #f7f6f6;
  cursor: pointer;
  transition: fill .3s ease;
  &:nth-child(1){
    @include media(display,(block, none));
  }
  &:hover{
    fill: #e2dfdd;
  }
}
.icon-link{
  height: 16px;
  cursor: pointer;
}
.contacts{
  &__svg{
    width: 17px;
    height: 16px;
    fill: #e4e0df;
    fill-rule: evenodd;
    cursor: pointer;
    transition: fill .3s ease;
    &:hover{
      fill: white;
    }
  }
}
.contacts-more{
  display: flex;
  cursor: pointer;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 12px;
  color: #e4e0df;
  &__text{
    position: relative;
    color: white;
    opacity: .6;
    transition: all .3s ease;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: 6px;
      border-bottom: 1px dotted #fff;
    }
  }
  &:hover &__text{
    opacity: 0;
  }
  &__inner{
    max-width: 0;
    overflow: hidden;
    display: flex;
    gap: 17px;
    transition: all .3s ease;
  }
  &:hover &__inner{
    max-width: 100px;
  }
}
