@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@function least-squares-fit($map) {

  // Get the number of provided breakpoints
  $length: length(map-keys($map));

  // Error if the number of breakpoints is < 2
  @if ($length < 2) {
    @error "leastSquaresFit() $map must be at least 2 values"
  }

  // Calculate the Means
  $resTotal: 0;
  $valueTotal: 0;
  @each $res, $value in $map {
    $resTotal: $resTotal + $res;
    $valueTotal: $valueTotal + $value;
  }
  $resMean: $resTotal/$length;
  $valueMean: $valueTotal/$length;

  // Calculate some other stuff
  $multipliedDiff: 0;
  $squaredDiff: 0;
  @each $res, $value in $map {

    // Differences from means
    $resDiff: $res - $resMean;
    $valueDiff: $value - $valueMean;

    // Sum of multiplied differences
    $multipliedDiff: $multipliedDiff + ($resDiff * $valueDiff);

    // Sum of squared resolution differences
    $squaredDiff: $squaredDiff + ($resDiff * $resDiff);
  }

  // Calculate the Slope
  $m: $multipliedDiff / $squaredDiff;

  // Calculate the Y-Intercept
  $b: $valueMean - ($m * $resMean);

  // Return the CSS calc equation
  @return calc(#{$m*100}vw + #{$b}px);

}
*, *:before, *:after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: inherit;
  font-size: inherit;
}
a,a:visited{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.body{
  background: #ccc4c0;
  overflow: hidden;
  font-family: Roboto, Serif;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 30px auto  1fr auto 30px auto 30px;
  grid-template-areas:  ".... logo  ... tel  .... menu ...."
                        ".... logo  ... tel  .... menu ....";
  z-index: 100;
  &__tel{
    grid-area: tel;
    font-size: 15px;
    font-family: Arial;
    @extend .link-hover;
  }
  &__open-menu{
    grid-area: menu;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Arial;
    font-weight: 450;
    cursor: pointer;
    user-select: none;
    span{
      @extend .link-hover;
    }
  }
  &__logo{
    width: auto;
    height: 50px;
  }
}
.logo{
  grid-area: logo;
  display: grid;
  //grid-template-rows: 60% 40%;
  //grid-template-columns: 45px 10px auto;
  //grid-template-areas:  "svg  .... name"
  //                      "svg  .... fname";
  flex-direction: row;
  align-items: center;
  height: 50px;
  &__image{
    grid-area: svg;
    justify-self: center;
    align-self: center;
  }
  &__name{
    grid-area: name;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 22px;
  }
  &__full-name{
    grid-area: fname;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial;
    @extend .link-hover;
  }
  &:hover &__full-name:after{
    width: 100%;
  }
}
.body{
  perspective: 1700px;
  &.menu-open &-menu{
    left: calc(100% - 840px);
  }
  &.menu-open &-content{
    transform: rotateY(40deg) scaleY(.8);
  }
  &-menu{
    position: fixed;
    left: 100%;
    top: 0;
    transition: left .3s ease;
    width: 840px;
    height: 100vh;
    background-color: #424141;
  }
  &-content{
    position: relative;
    transform: translate3d(0,0,0);
    transform-origin: 0 50% 0;
    transition: transform .4s ease;
    will-change: transform;
    min-height: 100vh;
  }
}
.menu{
  color: white;
  display: flex;
  flex-direction: column;
  &__header{
    display: flex;
    height: 80px;
    align-items: center;
    gap: 30px;
    padding: 10px 32px;
    border-bottom: 1px solid #565555;
  }
  &__items{
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
  }
}
.menu-title{
  display: flex;
  align-items: center;
  gap: 12px;
  &__image{
    width: 20px;
    height: auto;
  }
  &__text{
    white-space: nowrap;
    @extend .link-hover;
  }
  &:hover &__text:after{
    width: 100%;
  }
}
.menu-close{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 18px;
}
.menu-item{
  position: relative;
  border-bottom: 1px solid #565555;
  &:nth-child(odd){
    border-right: 1px solid #565555;
  }
  &__image{
    transition: opacity .3s ease;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &:hover &__image{
    opacity: .7;
  }
  &__icon{
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    width: 47px;
    height: auto;
  }
  &__title{
    @extend .link-hover;
    position: absolute!important;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  &:hover &__title:after{
    width: 100%;
  }
}
// анимация подчёркивания, предположительно юзать онли на ссылках, где уместно
.link-hover{
  position: relative;
  &:after{
    content: "";
    display: block;
    transition: width .3s ease;
    width: 0;
    height: 1px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}
// анимация бэкграунда при старте страницы
.logo-anim-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c4b4b4;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;

}
@keyframes start-logo-background {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
//анимация движения логотипа на своё место с центра
@keyframes start-logo {
  0%{
    position: absolute;
    left: calc((100vw - 270px) / 2);
    top: calc((100vh) / 2);
    z-index: 100;
  }
  50%{
    position: absolute;
    left: calc((100vw - 270px) / 2);
    top: calc((100vh) / 2);
  }
  100%{
    position: absolute;
    left:0;
    top: 5px;
    z-index: 100;
  }
}
.aside{
  display: flex;
  align-items: center;
  position: fixed;
  left: 30px;
  top: 0;
  height: 100vh;
  width: 40px;
  z-index: 50;
  &__inner{
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-columns: 40px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    gap: 25px;
    height: 300px;
    width: 100%;
  }
}
.aside-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  border: 2px white solid;
  user-select: none;
  cursor: pointer;
  transition: width .3s ease, height .3s ease,border .3s ease,background-color .3s ease;
  &__icon{
    width: 0;
    height: 0;
    transition: width .3s ease, height .3s ease;
  }
  &:hover{
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    width: 15px;
    height: 15px;
  }
  &.active{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px white solid;
    cursor: pointer;
    background: none;
  }
  &.active &__icon{
    height: 25px;
    width: 25px;
  }
}
.main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 000vh;
  left: 0;
  transition: top .5s ease;
}
.page{
  width: 100vw;
  height: 100vh;
  background: #cbc4c0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__preview{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    span{
      font-size: 20px;
      font-weight: 450;
    }
  }
  &__player{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    background-color: rgba(255, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color .3s ease;
    img{
      padding-left: 5px;
      width: 33px;
      height: 33px;
    }
    &:hover{
      background-color: #424242;
    }
  }

}

@font-face {
  font-family: "Dopis";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/Dopis/Dopis-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Dopis/Dopis-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/Dopis/Dopis-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Dopis/Dopis-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 900;
  font-style: italic;
  src: url("/assets/fonts/Dopis/Dopis-BlackCondensed.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/Dopis/Dopis-BoldCondensed.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/Dopis/Dopis-LightCondensed.ttf") format("truetype");
}
@font-face {
  font-family: "Dopis";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Dopis/Dopis-RegularCondensed.ttf") format("truetype");
}
/*Meta-Serif-Pro*/
@font-face {
  font-family: "Meta-Serif-Pro";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/MetaSerifPro-Black/MetaSerifPro-Black.ttf") format("truetype");
}
