//page-preview
$preview-circle-diameter: 785px;
$preview-circle-diameter-tablet: 566px;
$preview-circle-diameter-mobile: 300px;
  //player
  $player-circle-diameter-on-open: 115vw;
  $player-circle-diameter-default: 110px;